
class Solution:
    def deleteDuplicates(self, head: Optional[ListNode]) -> Optional[ListNode]:
        start=head
        while start:
            while start.next and start.next.val==start.val:
                start.next=start.next.next
                start=start.next
        return head
